@import "tailwindcss";

:root {
  --background: #f8f2e7; /* Cream/Off-white */
  --foreground: #111827; /* Gray 900 */
  --paper: #fffdf5; /* Lighter paper */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-paper: var(--paper);
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
